*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    line-height: 1.5;
    box-sizing: border-box;
}
body{
background:url(./pictures/rock-paper-scissors-hand-game.jpg);
background-size:cover;
font-family: Arial, Helvetica, sans-serif;
}
.selectedBtn{
   height: 40px; 
   width: 150px;
   margin: 5px;
}
.selectedBtn:hover{
    background-color:rgb(11, 189, 189);
    color: white;
    font-size: 1rem;
    
}
#mainSection{
border: 3px solid teal ;
border-radius: 25px;
padding: 10px;
text-align: center;
background-color: rgba(14, 175, 233, 0.457);
width: 70%;
margin: auto;
top: 100px;
position: relative;

}
#playerContent{
    color:blue;
}
#computerContent{
    color: rgb(178, 6, 6);
}
@media (max-width:600px){
   #mainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .selectedBtn{
    margin: 5px;
   }

}
